---
layout: page
current: authors
title: Meet the Authors
cover: false
class: 'author-template'
navigation: True
logo: 'assets/images/favicon1.png'
---



<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #author -->
{% include dynamic_tag_info.html %}
<header class="site-header outer {% if cover or page.cover %}" style="background-image: url({{ site.baseurl }}{% if cover %}{{ cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav-for-tag.html %}
        <div class="site-header-content">
            <h1 class="site-title">{{ page.authors | capitalizeall }}</h1>
            <h2 class="site-description">
                {% if author_name %}
                    {{ author_name }}
                {% elsif page.authors %}
    			{ paginator.total_authors }}
                {% endif %}
            </h2>
        </div>
    </div>
</header>
<!-- author-->
