{% capture site_authors %}{% for author in site.authors %}{{ author | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign site_authors = site_authors | split: ',' %}

{% assign author_count = 0 %}
{% for author in site_authors %}
{% assign author_count = author_count | plus: site.authors[author].size %}
{% endfor %}

{% for author in authors %}
{% assign rel_author_size = site.authors[author].size | times: 2.5 | divided_by: author_count | plus: 1 %}
<span style="white-space: nowrap; font-size: {{ rel_tag_size }}em;">
  <a href="{{ site.url }}/author/{{ author | replace: " ", "-" | downcase }}" class="site-authors">{{ author | slugize }}
  <span>({{ site.authors[author].size }})</span>
  </a>
</span>
{% endfor %}
