<ul class="nav" role="menu">
    
    <li class="nav-google" role="menuitem"><a href="{{site.baseurl}}tag/google/">Google</a></li>
    <li class="nav-apple" role="menuitem"><a href="{{site.baseurl}}tag/apple/">Apple</a></li>
    <li class="nav-microsoft" role="menuitem"><a href="{{site.baseurl}}tag/microsoft/">Microsoft</a></li>
    <li class="nav-android" role="menuitem"><a href="{{site.baseurl}}tag/android/">Android</a></li>
    <li class="nav-software" role="menuitem"><a href="{{site.baseurl}}tag/software/">Software</a></li>
    <li class="nav-security" role="menuitem"><a href="{{site.baseurl}}tag/security/">Security</a></li>
    <li class="nav-gaming" role="menuitem"><a href="{{site.baseurl}}tag/gaming/">Gaming</a></li>
    <li class="nav-artificial-intelligence" role="menuitem"><a href="{{site.baseurl}}tag/artificial-intelligence/">AI</a></li>
    <li class="nav-tips-and-tricks" role="menuitem"><a href="{{site.baseurl}}tag/tips-and-tricks/">Tips & Tricks</a></li>
</ul>
