<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">எம்மைப்பற்றி</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}contact/">தொடர்புகளுக்கு</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}authors/">எழுத்தாளர்கள்</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Security</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Google</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Microsoft</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Android</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Gaming</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Softwares</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/">Artificial Intelligence</a></li>
</ul>
