<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">எம்மைப்பற்றி</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{site.baseurl}}contact/">தொடர்புகளுக்கு</a></li>
    <li class="nav-author" role="menuitem"><a href="{{site.baseurl}}authors/">எழுத்தாளர்கள்</a></li> 
    <li class="nav-security" role="menuitem"><a href="{{site.baseurl}}tag/security/">Security</a></li>
    <li class="nav-google" role="menuitem"><a href="{{site.baseurl}}tag/google/">Google</a></li>
    <li class="nav-microsoft" role="menuitem"><a href="{{site.baseurl}}tag/microsoft/">Microsoft</a></li>
    <li class="nav-android" role="menuitem"><a href="{{site.baseurl}}tag/android/">Android</a></li>
    <li class="nav-gaming" role="menuitem"><a href="{{site.baseurl}}tag/gaming/">Gaming</a></li>
    <li class="nav-software" role="menuitem"><a href="{{site.baseurl}}tag/software/">Software</a></li>
    <li class="nav-aritificial intelligence" role="menuitem"><a href="{{site.baseurl}}tag/artificial intelligence/">Artificial Intelligence</a></li>
</ul>
